In [1]:
import pandas as pd
import os
main_dir = os.getcwd().rsplit("\\", 2)[0]
df = pd.read_csv(f"{main_dir}/data/processed/cleaned_data_final.csv")

In [2]:
df.head()

,date,energy_source,power_MW,maintenance_status,respondent,latitude,longitude,capacity_MW,year,plantcode,plantname,nearest_station,wind_speed,precipitation,temperature_avg,wind_volatility,sentiment_score,site_density,output_efficiency
0,2025-07-08 04:00:00,solar,-1.014257,1,TEX,31.140744,-98.229480,162956.921267,2025,NaN,NaN,USW00000229,-0.16362,-0.03929,-0.16376,-0.167691,0.0,0.0,-0.793451
1,2025-07-08 04:00:00,wind,0.749863,0,TEX,31.987395,-100.410991,192.115738,2025,NaN,NaN,USW00013962,-0.16362,-0.03929,-0.16376,-0.167691,0.0,0.0,0.893439
2,2025-07-08 03:00:00,solar,-1.014257,1,TEX,31.140744,-98.229480,162956.921267,2025,NaN,NaN,USW00000229,-0.16362,-0.03929,-0.16376,-0.167691,0.0,0.0,-0.793451
3,2025-07-08 03:00:00,wind,0.532338,0,TEX,31.987395,-100.410991,192.115738,2025,NaN,NaN,USW00013962,-0.16362,-0.03929,-0.16376,-0.167691,0.0,0.0,0.685437
4,2025-07-08 02:00:00,solar,-0.875295,0,TEX,31.140744,-98.229480,162956.921267,2025,NaN,NaN,USW00000229,-0.16362,-0.03929,-0.16376,-0.167691,0.0,0.0,-0.793294

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63204202 entries, 0 to 63204201
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   energy_source       object
 2   power_MW            float64
 3   maintenance_status  int64
 4   respondent          object
 5   latitude            float64
 6   longitude           float64
 7   capacity_MW         float64
 8   year                int64
 9   plantcode           float64
 10  plantname           object
 11  nearest_station     object
 12  wind_speed          float64
 13  precipitation       float64
 14  temperature_avg     float64
 15  wind_volatility     float64
 16  sentiment_score     float64
 17  site_density        float64
 18  output_efficiency   float64
dtypes: float64(12), int64(2), object(5)
memory usage: 8.9+ GB

In [4]:

df[['energy_source', 'latitude', 'longitude']].groupby('energy_source').agg(['mean', 'count'])

                latitude             longitude
                    mean     count        mean     count
energy_source
solar          31.140744  31602101  -98.229480  31602101
wind           31.987395  31602101 -100.410991  31602101

In [5]:
df[df['maintenance_status'] == 1][['date', 'energy_source', 'power_MW']].head()

                   date energy_source  power_MW
0   2025-07-08 04:00:00         solar -1.014257
2   2025-07-08 03:00:00         solar -1.014257
82  2025-07-06 11:00:00         solar -1.014257
84  2025-07-06 10:00:00         solar -1.014257
86  2025-07-06 09:00:00         solar -1.014257